body {
	text-align: left;
	font-family: "Lucida Console", Monaco, monospace;
}

h1 {
	text-align: center;
	font-size: 30px;
	font-family: Arial;
}

h2 {
	margin-top: 30px;
	font-size: 16px;
}

input, button {
	padding: 4px;
}

.terminal {
	margin: 0px 10px 0px 10px;
	border: 2px black solid;
	min-height: 70px;
	padding: 5px;
}